extends view/model/layout

block content
    .container
        section
            article.hidden#article
                header
                    h1.title
                    nav.post-meta
                        span.post-time
                            time
                        =" | "
                        span.post-comments-count
                        =" | "
                        span.leancloud_visitors
                            span.leancloud-visitors-count
                .post-body
                .post-more-link
                    button 阅读全文
                footer
        section.blurry-block
            .block-top
            .block-bottom
    footer Copyright © 2016 - #{new Date().getFullYear()} cJahv. All Rights Reserved.
block script
    script(src="/public/javascripts/index.js")