script(src="//cdn.bootcss.com/jquery/1.11.1/jquery.min.js")
script(src="//cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js")
script(src='//cdn.bootcss.com/loaders.css/0.1.2/loaders.css.min.js')
script(src="//cdn.bootcss.com/jquery.form/3.51/jquery.form.min.js")
script(src="/public/javascripts/app.js")
block script