header
    .logo
        h1
            a(href="/") 郝都闲人
    nav.pull-right
        ul
            -var _href="javascript:void(0)"
            li.about
                a(href=_href) 关于
                    span.icon.icon-about
            li.article-close
                a(href=_href)
                    span.icon.icon-close