section.user
    .login-box.hide
        form(action="select.login.login.json",method="post")
            input.form-control(placeholder="用户名/邮箱")
            br
            input.form-control(type="password",placeholder="密码")
            br
            br
            button.btn.btn-success.btn-block 登陆
