//auto load this page's javascript
form(action="admin.send.article.json",method="post",enctype="multipart/form-data")
    input.form-control(name="title",placeholder="文章标题")
    br
    textarea#editor
    button.btn.btn-success.pull-right 发表